[Unit]
Description=The Salt Master Server
Documentation=https://docs.saltstack.com/en/latest/contents.html
After=network.target

[Service]
LimitNOFILE=100000
Type=notify
NotifyAccess=all
ExecStart={{ salt['cmd.run_stdout']('which salt-master') }}
TimeoutStopSec=3
StandardOutput=null

[Install]
WantedBy=multi-user.target
