*.pyc
.*.swp
*~
.DS_Store
._.DS_Store
.vscode/
test/
pillar/local.sls
build/
dist/
docker/docker-compose.override.yml
docker/odoopbx/
docker/asterisk
docker/odoo/
docker/odoo.conf
odoopbx.egg-info/
twine.sh
