*.pyc
.*.swp
*~
.DS_Store
._.DS_Store
.vscode/
test/
docker-compose.override.yml
docker/asterisk/etc-custom
master_custom.conf
pillar/local.sls
build/
dist/
docker/minion_local.conf
docker/odoo.conf
docker/odoo/
odoopbx.egg-info/
twine.sh
