[Unit]
Description=The Salt Master Server
Documentation=https://docs.saltstack.com/en/latest/contents.html
After=network.target

[Service]
LimitNOFILE=100000
Type=notify
NotifyAccess=all
ExecStart=/usr/local/bin/salt-master
StandardOutput=null

[Install]
WantedBy=multi-user.target
