[Unit]
Description=The Salt API
Documentation=https://docs.saltstack.com/en/latest/contents.html
After=network.target

[Service]
Type=notify
NotifyAccess=all
LimitNOFILE=8192
ExecStart={{ salt['cmd.run_stdout']('which salt-api') }}
TimeoutStopSec=3
StandardOutput=journal

[Install]
WantedBy=multi-user.target
