{% import_yaml 'odoo/defaults.yaml' as defaults %}

{% set odoo = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    { 'default': {'admin_passwd': 999999999999999 | random_hash }},
    merge=salt['config.get']('odoo', merge='recurse'),
    ),
  base='odoo'
  )
%}
