version: '3.1'
services:

  odoo:
    ports:
      - 0.0.0.0:8072:8072
    volumes:
      - ./odoo/odoo.conf:/etc/odoo/odoo.conf
      - ../../addons/:/mnt/addons
      #- /srv/dev/addons_ee:/mnt/addons_ee
      #- /srv/dev/enterprise:/mnt/enterprise
    #command: sleep 100d

  agent:
    # When Odoo is out of the docker uncomment Salt API port to connect to.
    # ports:
    #  - 0.0.0.0:48008:48007
    volumes:
      - ../:/opt/agent

  asterisk:
    ports:
      - 0.0.0.0:65060:65060/udp
      - 0.0.0.0:10100-10200:10100-10200/udp
      - 0.0.0.0:8089:8089
    volumes:
      - ../:/opt/agent
      - asterisk_etc:/etc/asterisk    # volume from docker-compose.yml
      #- /etc/asterisk:/etc/asterisk  # host directory /etc/asterisk
    #command: sleep 100d

  freepbx:
    ports:
      - 8008:80
      - 8043:443
    volumes:
      - ./freepbx/certs:/certs
      #- ./logs:/var/log
      #- ./data/www:/var/www/html
    environment:
      - VIRTUAL_HOST=demo.odoopbx.com
      - ENABLE_SSL=TRUE
      - LETSENCRYPT_HOST=demo.odoopbx.com
      - LETSENCRYPT_EMAIL=LETSENCRYPT_EMAIL@gmail.com
      #- RTP_START=18000
      #- RTP_FINISH=18100
      ### If you are using TLS Support for Apache to listen on 443 in the container drop them in /certs and set these:
      #- TLS_CERT=cert.pem
      #- TLS_KEY=key.pem

