version: '3.1'
services:

  db:
    restart: unless-stopped

  odoo:
    restart: unless-stopped
    volumes:
      - /srv/dev/addons_ee:/mnt/addons_ee
      - ./odoo.conf:/etc/odoo/odoo.conf

  agent:
    restart: unless-stopped
    