version: '3.1'
services:

  demo:
    # Must be a real FQDN hostname to obtain SSL cert from letsencrypt
    hostname: myname.example.com
    ports:
      # Nginx HTTP port. Must be open to obtain SSL cert from letsencrypt.
      - 0.0.0.0:80:80

  odoo:
    volumes:
      - ../../addons/:/mnt/addons
      #- /srv/dev/addons_ee:/mnt/addons_ee
      #- /srv/dev/enterprise:/mnt/enterprise
    #command: sleep 100d

  pbx:
    volumes:
      - ../:/opt/agent
    environment:
      - ASTERISK_AUTOSTART=true
     ports:
      # Asterisk SIP UDP transport (pjsip.conf)
      - 0.0.0.0:65060:65060/udp
      # Asterisk RTP media ports (rtp.conf)
      - 0.0.0.0:10100-10200:10100-10200/udp
      # Asterisk HTTP TLS for WebRTC (http.conf)
      - 0.0.0.0:8089:8089
      # Salt API port. Makes it available for Odoo from outside of docker network
      - 0.0.0.0:48008:48008

  freepbx:
    ports:
      - 8008:80
      - 8043:443
    volumes:
      - ./freepbx/certs:/certs
      #- ./logs:/var/log
      #- ./data/www:/var/www/html
    environment:
      - VIRTUAL_HOST=demo.odoopbx.com
      - ENABLE_SSL=TRUE
      - LETSENCRYPT_HOST=demo.odoopbx.com
      - LETSENCRYPT_EMAIL=LETSENCRYPT_EMAIL@gmail.com
      #- RTP_START=18000
      #- RTP_FINISH=18100
      ### If you are using TLS Support for Apache to listen on 443 in the container drop them in /certs and set these:
      #- TLS_CERT=cert.pem
      #- TLS_KEY=key.pem

