[Unit]
Description=Odoo Service
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/srv/odoo/venv/odoo{{ major_version }}/bin/python /srv/odoo/src/odoo-{{ version }}/odoo-bin --config /etc/odoo/odoo{{ major_version }}.conf --syslog
Restart=on-failure
RestartSec=10
SyslogIdentifier=odoo
StandardError=journal
StandardOutput=journal
KillMode=mixed

[Install]
WantedBy=multi-user.target
