[Unit]
Description=Odoo Service
After=network.target

[Service]
Type=simple
User={{ user }}
Environment="ODOO_RC={{ conf_path }}"
ExecStart={{ src_path }}/odoo-bin --syslog
Restart=on-failure
RestartSec=10
SyslogIdentifier=odoo
StandardError=journal
StandardOutput=journal
KillMode=mixed

[Install]
WantedBy=multi-user.target
