[Unit]
Description=Odoo Service
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart={{ path.venv }}/bin/python {{ path.src }}/odoo-bin --config {{ path.conf }} --syslog
Restart=on-failure
RestartSec=10
SyslogIdentifier=odoo
StandardError=journal
StandardOutput=journal
KillMode=mixed

[Install]
WantedBy=multi-user.target
